/* Theme */
@import 'theme';

@import '../../main';

@import 'icon';

.top-bar .navi-logo {
    margin-left: 0;
    width: 600px;
    height: 60px;
    min-width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: left center; */
    cursor: pointer;
    /* background: #FFF; */
}

.desktop-title {
    background: transparent linear-gradient(90deg, #E02B45 0%, #D5009B 100%) 0% 0% no-repeat padding-box;
}

.top-bar {
    background: transparent linear-gradient(90deg, #E10B26 0%, #D5009B 100%) 0% 0% no-repeat padding-box;
}

.top-bar.bp-large {
    background: $mint-light;
 }

 .external-link-container {
    border: 1px solid rgba(0, 0, 0, 0.70);
    border-radius: 4px;
}

.navi-languages {
    #lang-select {
        color: #000000;
        .lang.selected {
            color: #FFFFFF;
            background: $mint-red;
        }
    }
}

.external-link-container a.external-link {
    color: #000000;
}

.long {
    font-size: 14px;
}

.standalone-btn {
    background: transparent linear-gradient(90deg, #E02B45 0%, #D5009B 100%) 0% 0% no-repeat padding-box;
}

.navi-languages #lang-select .lang.selected {
    color: #FFFFFF;
    background: transparent linear-gradient(#E02B45 0%, #D5009B 100%) 0% 0% no-repeat padding-box;
}

input.react-autosuggest__input:focus {
    outline: none;
}